@charset "UTF-8";

body{
    background-color: darkcyan;
}

h1{
    text-align: center;
    color: white;
}

section{
    width: 500px;
    height: 500px;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    background-color: aliceblue;
}

select#ilista {
    width: 150px;
}

